@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  background-image: url('./assets/background14.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}