#addUser {
		
		animation-name: puff-in-horizontal;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: puff-in-horizontal 1s linear 0s 1 normal none;*/
}

#heading {
    animation: text-shadow-multicolor 2s ease 0s infinite normal none;
}

@keyframes text-shadow-multicolor {
			
		0% {
			text-shadow:0 0px 15px #f0f;
		}
		33% {
			text-shadow:0 0px 15px #0ff;
		}
		66% {
			text-shadow:0 0px 10px #0f0;
		}
		100% {
			text-shadow:0 0px 10px #ff0;
		}
	}

@keyframes puff-in-horizontal {
			
		0% {
			transform:scaleX(2);
			filter:blur(4px);
			opacity:0;
		}
		100% {
			transform:scaleX(1);
			filter:blur(0);
			opacity:1;
		}
	}